<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/scroll-book.css">
</head>
<body>
    <div class="box">
        <h2>书籍列表</h2>
    </div>
    <div class="content">
        <ul class="bk-list">
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="./scroll-detial.html" class="item-lk">
                    <div class="bk-pic">
                        <img src="https://dss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3574127227,238643749&fm=179&app=35&f=JPEG?w=267&h=356&s=BD0E3F7E554162E21E44106D0300A070" alt=""> 
                        
                    </div>
                    <div class="item-info">
                        <h2>完美世界</h2>
                        <p>作者： 辰东</p>
                        <p class="info-desc">夜已深，漆黑一片，景物不可见。但山中并不宁静，猛兽咆哮，震动山河，万木摇颤，乱叶簌簌坠落。

                            群山万壑间，洪荒猛兽横行，太古遗种出没，各种可怕的声音在黑暗中此起彼伏，直欲裂开这天地。
                            
                            山脉中，远远望去有一团柔和的光隐现，在这黑暗无尽的夜幕下与万山间犹如一点烛火在摇曳，随时会熄灭。
                            渐渐接近，可以看清那里有半截巨大的枯木，树干直径足有十几米，通体焦黑。除却半截主干外，它只剩下了一条柔弱的枝条，
                            但却在散发着生机，枝叶晶莹如绿玉刻成，点点柔和的光扩散，将一个村子笼罩。

                            确切的说，这是一株雷击木，在很多年前曾经遭遇过通天的闪电，老柳树巨大的树冠与旺盛的生机被摧毁了。
                            如今地表上只剩下八九米高的一段树桩，粗的惊人，而那仅有的一条柳枝如绿霞神链般，光晕弥漫，笼罩与守护住了整个村子，
                            令这片栖居地朦朦胧胧，犹若一片仙乡，在这大荒中显得很神秘。
                        </p>
                        <p>更新时间： 2020-12-25 12:12:12</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <a href="javascript:;" class="come-back">返回顶部</a>
    <script src="../js/unit.js"></script>
    <script src="../js/scroll-book.js"></script>
    <script>
        //addEventListener false 代表冒泡  冒泡是从下向上一级一级向上    捕获 是从上向下
        
    </script>
</body>
</html>