body,
div,
li,
p,
span,
h4{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #424242;
}
.clearfix:after{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}
.clearfix{
    zoom: 1;
}
img{
    width: 100%;
}